
#total_body{
           width: auto;       
          height: 1080px;
}
.header{
      margin-top: 0%;
   margin-bottom: 0%;
    padding-left: 22px;
   padding-right: 20px;
}
#header_logo{
     
           width: 50px;
}
#logo{
     font-family: poppins;
     font-weight: bolder;
           width: 100px;
             top: 20%;
      text-align: center;
   border-radius: 100%;
}
.edge{
         padding: 0% 10px 0% 10px;
          height: 30px;
          height: 40px;  
}
#logo img{
           width: 100%;
}
.heading{
       font-size: 36px; 
             top: -250px;
}
.adjust{
             top: -100px;
}
.middle{
        position: relative;
             top: -250px;
 justify-content: center;
}
.middle_content{
     padding-top: 50px;
}
.icon{
           right: -100px;
            left: 30px;
           color: black;
}
.column_content{
          height: 150px;
           width: 350px;
      box-shadow: 0px 3px 6px gray ;
           float: right;  
}
.items_header{
             top: 550px;
     font-family: Georgia, "Times New Roman", Times, serif;
           color: #192f60;   
}
.items{
           float: left;
}
h4{
      text-align: left;
           color: #192f60;
       font-size: 18px;
     font-weight: bold;
}


